<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_servicio.nombre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tipo_servicio.description %>
</p>

<%= link_to 'Edit', edit_tipo_servicio_path(@tipo_servicio) %> |
<%= link_to 'Back', tipo_servicios_path %>
